.examples {
  .examples__container {
    margin: 240px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .exmodule {
      width: 350px;
      height: 320px;
      margin-bottom: 20px;
      background-repeat: no-repeat;
      border-radius: 10px;
      .module-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .img-icon {
          img {
          }
        }
        .text {
          font-weight: bold;
          font-size: 32px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #ffffff;
          display: flex;
          flex-direction: column;
          padding-top: 31px;
        }
      }
    }
  }
}
