.competitor {
  background: #fff;
  padding: 240px 0;
  .competitor__container {
    @media only screen and (max-width: 582px) {
      margin: 50px auto;
    }
    h3 {
      font-weight: 600;
      font-size: 32px;
      line-height: 140%;
      letter-spacing: -0.5px;
      color: #212037;
    }
    .markets {
      margin-top: 120px;
      line-height: 1.2;
      @media only screen and (max-width: 582px) {
        margin-top: 70px;
      }
      p {
        font-weight: bold;
        font-size: 24px;
        color: #7c7f91;
      }
      h1 {
        font-weight: bold;
        font-size: 96px;
        color: #212037;
        @media only screen and (max-width: 768px) {
          font-size: 80px;
        }
        @media only screen and (max-width: 582px) {
          font-size: 14vw;
        }
        span {
          font-size: 30px;
          font-weight: bold;
        }
      }
    }
  }
}
